<manifest package="com.jaychang.sa.google"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="@string/com.jaychang.sa.googleWebClientId"
            android:value="\ ${googleWebClientId}" />

        <activity
            android:name=".GoogleAuthActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />

    </application>

</manifest>
