<manifest package="com.jaychang.sa.instagram"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".InstagramAuthActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask" />

    </application>

</manifest>
