<manifest package="com.jaychang.sa"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <provider
            android:authorities="${applicationId}.SimpleAuthInitProvider"
            android:name=".SimpleAuthInitProvider"
            android:exported="false" />

    </application>

</manifest>
